.new-posts-side-ad-wrap{
    height: 285px;
    width: 335px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(21, 16, 16, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}
.new-posts-side-ad-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.new-posts-side-ad-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-posts-side-ad-cancel{
    position: absolute;
    top: 0;
    right: 0;
}
/* community */
.new-posts-side-community-wrap{
    margin-top: 25px;
    height: 1130px;
    width: 335px;
    position: relative;
}
.new-posts-side-community-content{
    height: 100%;
    border: 1px solid #e8e8e8;
    border-top: solid 6px hsl(216,31%,10%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FFF;
}
.seperate-community{
    width: 90%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 0 auto 10px;
}
.new-posts-side-community-title{
    display: flex;
    align-items: center;
    margin: 15px auto;
    cursor: pointer;
}
.new-posts-side-community-title:hover .new-posts-side-community-link{
    color:#00bad7;
}
.new-posts-side-community-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.8rem;
    color: #151D28;
    font-weight: 700;
    height: 40px;
    padding-left: 20px;
}
.new-posts-side-community-main-item{
    margin-left: 25px;
    margin-bottom: 12px;
}
.new-posts-side-community-main-item-link{
    text-decoration: none;
    display: flex;
}
.new-posts-side-community-main-item-img{
    border-radius: 5px;
    margin-right: 10px;
}
.new-posts-side-community-main-item:hover .new-posts-side-community-main-item-name{
   color: #00bad7;
}
.new-posts-side-community-main-item-name{
    font-size: 1.3rem;
    color: #151D28;
    font-weight: 700;
    margin: 0;
}
.new-posts-side-community-main-item-tag{
    font-size: 1.3rem;
    color: #AAA;
    font-weight: 500;
    margin: 0;
}
.new-posts-side-community-btn{
    position: absolute;
    left: 20%;
    top: 98.5%;
}
.new-posts-side-community-btn:hover .new-posts-side-community-btn-link{
    color: #39F1E9;
}
.new-posts-side-community-btn-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    color: #FFF;
    background-color: #151D28;
}
/* App download */
.app-download-container{
    margin-top: 75px;
    height: 335px;
    width: 335px;
    border: 1px solid #e8e8e8;
    border-top: solid 6px hsl(216,31%,10%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FFF;
}
.app-download-title{
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}
.app-download-title-name-link{
    text-decoration: none;
}
.app-download-title-name-link:hover .app-download-title-name{
    color: #00bad7;
}
.app-download-title-name{
    font-size: 1.7rem;
    color: #151D28;
    font-weight: 600;
    margin: 0;
}
.app-download-title-infor{
    font-size: 1.4rem;
    color: #AAA;
    margin: 0 auto 10px;
}
.separate-download{
    width: 90%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 0 auto 10px;
}
.app-download-frame{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.app-download-frame-img{
    width: 310px;
    height: 160px;
}
.app-download-content{
    display: flex;
    justify-content: center;
    background-color: #eff1f3;
    width: 92.5%;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.app-download-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0 auto;
}
.app-download-list-item-img{
    width: 100px;
    height: 40px;
}
/* Rank */
.rank-container{
    margin-top: 25px;
    height: 420px;
    width: 335px;
    border: 1px solid #e8e8e8;
    border-top: solid 6px hsl(216,31%,10%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FFF;
}
.rank-list-wrap{
    width: 85%;
    margin: auto;
}
.rank-title{
    margin-left: 15px;
}
.rank-title-link:hover .rank-title-text{
    color: #00bad7;
}
.rank-title-text{
    color: #151D28;
    font-size: 1.8rem;
    font-weight: 700;
}
.rank-list-item{
    display: flex;
}
.rank-list-item-infor{
    flex: 1;
}
.rank-list-item-avt{
    width: 35px;
    margin-right: 10px;
}
.rank-list-item-avt-link{
    display: flex;
    align-items: center;
    height: 100%;
}
.rank-list-item-avt-img{
    border-radius: 50%;
}
.rank-list-item-infor-achi{
    display: flex;
    align-items: center;
}
.respect{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(71, 181, 227) 0%, rgb(39, 255, 239) 100%);
    height: 20px;
    max-width: 50%;
    color: #151D28;
    font-size: 1.0rem;
    font-weight: 700;
    padding-right: 5px;
    border-radius: 3px;
    text-align: center;
    margin: 0;
}
.hounor{
    margin: 0;
    text-transform: uppercase;
    color: #AAA;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
}
.ranker-name{
    margin: 0;
    color: #151D28;
    font-weight: 700;
    font-size: 1.2rem;
}
.ranker-name:hover{
    color: #00bad7;
}
.rank-list-item-posts{
    display: flex;
    align-items: flex-end;
}
.rank-list-item-posts-total{
    margin: 0;
    color: #AAA;
    font-size: 1.2rem;
}
.separate-rank{
    height: 1px;
    background-color: #e6e6e6;
    margin: 10px auto 10px;
}
/* new post */
.new-posts-main-question-wrap{
    height: 245px;
    
}
.new-posts-main-question-section{
    height: 200px;
    box-shadow: 0 1px 4px 0 rgba(102,98,98,0.4);
    border-radius: 12px;
    background-color: #FFF;
    margin-top: 20px;
}
.new-posts-main-question-section-wrap{
    width: 94%;
    margin: auto;
}
.new-posts-main-question-section-wrap:hover .new-posts-main-question-section-text{
    color: #00bad7;
}
.new-posts-main-question-text{
    color: #151D28;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}
.new-posts-main-question-wrap-link{
    text-decoration: none;
    display: block;
}
.new-posts-main-question-section-title{
    padding: 32px 0 15px;
}
.new-posts-main-question-section-text{
    margin: 0;
    font-size: 1.8rem;
    color: #151D28;
    font-size: 600;
}
.new-posts-main-question-infor{
    display: flex;
}
.new-posts-main-question-infor-avt{
    margin-right: 12px;
}
.new-posts-main-question-infor-img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #00bad7;
}
.new-posts-main-question-content{
    width: 100%;
}
.new-posts-main-question-content-wrap{
    background-color: #EFF1F3;
    border-radius: 12px;
    height: auto;
    width: 100%;
}
.new-posts-main-question-content-name{
    color: #00bad7;
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    margin: 10px 0 5px 15px;
}
.new-posts-main-question-content-time{
    color: #AAA;
    font-size: 1.2rem;
    margin-left: 10px;
}
.new-posts-main-question-content-text{
    color: #151D28;
    font-size: 1.4rem;
    display: inline-block;
    margin: 0 5px 0 15px;
    padding-bottom: 10px;
}
/* main post */
.new-posts-main-body{
    margin-top: 20px;
}
.new-posts-main-body-wrap{
    position: relative;
}
.new-posts-main-body-container{
    background-color: #FFF;
    box-shadow: 0 1px 4px 0 rgba(102,98,98,0.4);
    border-radius: 12px;
    height: auto;
}
.new-posts-main-body-container .new-posts-main-body-content:last-child{
    padding-bottom: 70px;
}
.new-posts-main-body-title{
    margin-bottom: 22px;
}
.new-posts-main-body-title-text{
    color: #151D28;
    font-size: 1.8rem;
    margin: 0;
}
.new-posts-main-body-content{
    width: 94%;
    margin: auto;
    display: flex;
    padding-bottom: 20px;
    padding-top: 25px;
}
.new-posts-main-body-content-frame{
    margin-right: 25px;
}
.new-posts-main-body-content-img{
    width: 250px;
    height: 154px;
    border-radius: 12px;
}
.new-posts-main-body-content-infor-link:hover .new-posts-main-body-content-infor-title-text{
    color: #00bad7;
}
.new-posts-main-body-content-infor-link{
    text-decoration: none;
}
.new-posts-main-body-content-infor-title-text{
    margin: 0 0 10px 0;
    font-size: 2.0rem;
    color: #151D28;
}
.new-posts-main-body-content-infor-artcle-text{
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    color: #151D28;
}
.new-posts-main-body-content-infor-user{
    display: flex;
    align-items: center;
}
.new-posts-main-body-content-infor-user-img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}
.new-posts-main-body-content-infor-user-name{
    color: #00bad7;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 10px;
}
.new-posts-main-body-content-infor-user-time{
    color: #AAA;
    font-size: 1.2rem;
}
.new-posts-main-body-btn{
    position: absolute;
    left: 39%;
    top: 99.1%;
}
.new-posts-main-body-btn:hover .new-posts-main-body-btn-link{
    color: #39F1E9;
}
.new-posts-main-body-btn-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 45px;
    color: #FFF;
    background-color: #151D28;
}