.events-container{
    margin-top: 50px;
}
.events-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.events-side{
    max-width: 26%;
}
.events-main{
    max-width: 72%;
}
.events-side-oldeEvent-wrap{
    height: auto;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-top: solid 6px hsl(216,31%,10%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FFF;
}
.events-side-oldeEvent-title{
    margin: 0 10px;
    border-bottom: 1px solid #e6e6e6;
}
.events-side-oldeEvent-title-link{
    display: flex;
    text-decoration: none;
    color: #151D28;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 0;
}
.events-side-oldeEvent-title-link:hover{
    color: #00bad7;
}
.events-side-oldeEvent-content{
    padding: 10px;
}
.events-side-oldeEvent-content-link:hover .events-side-oldeEvent-text{
    color: #00bad7;
}
.events-side-oldeEvent-content-link{
    text-decoration: none;
    display: flex;
}
.events-side-oldeEvent-frame{
    margin-right: 10px;
}
.events-side-oldeEvent-img{
    max-width: 150px;
    max-height: 92px;
    border-radius: 12px;
}
.events-side-oldeEvent-article{
    overflow: hidden;
}
.events-side-oldeEvent-time{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(71, 181, 227) 0%, rgb(39, 255, 239) 100%);
    height: 25px;
    width: 80px;
    font-size: 1.2rem;
    color: #151D28;
    border-radius: 10px;
}
.events-side-oldeEvent-text{
    color: #151D28;
    font-size: 1.2rem;
    margin: 5px 0;
}
.events-side-oldeEvent-view{
    color: #AAA;
    font-size: 1.2rem;
}
/* main */
.events-main-body-wrap{
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(102,98,98,0.4);
    background-color: #FFF;
    height:auto;
    position: relative;
}
.events-main-body-content{
    padding: 24px 24px 50px;
}
.events-main-body-content-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: 1px solid #e6e6e6;
}
.events-main-body-content-list .events-main-body-content-list-item:nth-child(2n){
    background-color: #f5f5f5;
}
.events-main-body-content-list-item{
    display: flex;
}
.events-main-body-content-list-item-time{
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-right: 1px solid #e6e6e6;
}
.item-date{
    color: #00bad7;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
}
.item-day{
    color: #151D28;
    font-size: 1.3rem;
}
.events-main-body-content-list-item-article{
    width: 88%;
    padding: 20px 0 20px 20px;
}
.events-main-body-content-list-item-title{
    margin: 0;
}
.events-main-body-content-list-item-link:hover{
    color: #00bad7;
}
.events-main-body-content-list-item-link{
    text-decoration: none;
    color: #151D28;
    font-size: 1.4rem;
}
.events-main-body-content-list-ite-abcxyz{
    margin: 0;
    height: 20px;
    overflow: hidden;
    font-size: 1.3rem;
}
.new-posts-main-body-btn.tbn-for-event{
    top: 96%;
    left: 36%;
}
.new-posts-main-body-btn-link.tbn-for-event{
    width: 250px;
}
.events-main-body-content-title:hover .events-main-body-content-title-text{
    color: #00bad7;
}
.events-main-body-content-title-link{
    text-decoration: none;
}
.events-main-body-content-title-text{
    color: #151D28;
    font-size: 1.7rem;
    margin-top: 0;
}