/* Mobile and Tablet*/
@media (max-width: 1199px){
}
/* Tablet  */
@media (min-width: 740px) and (max-width: 1239px){
    .wide{
        width: 100%;
    }
    /* .new-posts-container{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    } */
}
/* Mobile */
@media (max-width: 739px){
}