.tinNoiBat-container{
    background-color: #192433;
    height: auto;
}
.tinNoiBat-head-container{
    text-decoration: none;
    margin-top: 3px;
    background-color: #151D28;
    height: auto;
}
.tinNoiBat-head-container:hover .tinNoiBat-head-title{
    color: #1AFFFF;
}
.tinNoiBat-head-img-container{
    height: 370px;
}
.tinNoiBat-head-img{
    width: 100%;
    height: 100%;
}
.tinNoiBat-head-title-container{
    height: 15%;
    padding: 0;
}
.tinNoiBat-head-title-head{
    margin: 0;
    padding: 10px;
}
.tinNoiBat-head-title{
    color: #FFF;
    font-size: 1.8rem;
}
.tinNoiBat-head-ngDang{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 10px;
}
.tinNoiBat-head-ngDang-head{
    padding-right: 10px;
    margin: 0;
}
.tinNoiBat-head-ngDang-name{
    color: #00BAD6;
    font-size: 1.3rem;
}
.ngDang-time{
    color: #AAA;
    font-size: 1.3rem;
}
.tinNoiBat-head-comment-head{
    color: #AAA;
    font-size: 1.2rem;
    margin: 0;
}
.comment-icon{
    color: #AAA;
}

/* bottom */
.tinNoiBat-bottom-container{
    text-decoration: none;
    height: 100%;
    margin-top: 20px;
}
.tinNoiBat-bottom-container:hover .tinNoiBat-bottom-title{
    color: #1AFFFF;
}
.tinNoiBat-bottom-img-container{
    height: 232px;
}
.tinNoiBat-bottom-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.tinNoiBat-bottom-title{
    color: #FFF;
    font-size: 1.6rem;
}
.tinNoiBat-bottom-title-head{
    margin: 0;
}
.tinNoiBat-bottom-ngDang{
    display: flex;
    align-items: center;
    padding: 5px 0 5px;
}
.tinNoiBat-bottom-ngDang-head{
    margin: 0;
    padding-right: 10px;
}
.tinNoiBat-bottom-title-container{
    padding: 10px 0 5px;
}