.trending-posts-container{
    margin-top: 60px;
}
.treding-posts-side-content{
    height: 390px;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-top: solid 6px hsl(216,31%,10%);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #FFF;
}
.treding-posts-side-title{
    border-bottom: 1px solid #e6e6e6;
    margin: 0 15px;
}
.treding-posts-side-title-link{
    display: flex;
    color: #151D28;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 0;
}
.treding-posts-side-title-link:hover{
    color: #00bad7;
}
.treding-posts-side-frame{
    padding: 15px;
    height: 190px;
}
.treding-posts-side-frame-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.treding-posts-side-frame-link:hover .treding-posts-side-frame-text{
    color: #00bad7;
}
.treding-posts-side-img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.treding-posts-side-frame-text{
    color: #151D28;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
    padding: 15px 0;
}
/* trending-posts-main */
.trending-posts-main-outstandingPosts-wrap{
    position: relative;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: #232C38;
}
.trending-posts-main-outstandingPosts-title{
    background-color: #1A1A1A;
    height: 50px;
    display: flex;
    align-items: center;
}
.trending-posts-main-outstandingPosts-title-text{
    color: 	#1affff;
    font-size: 1.8rem;
    margin: 0;
    padding-left: 30px;
}
.trending-posts-main-outstandingPosts-body{
    height: 347px;
}
.trending-posts-main-outstandingPosts-content{
    height: 100%;
    margin: 0 55px;
    display: flex;
    overflow-x: scroll;
    align-items: center;
}
.trending-posts-main-outstandingPosts-item{
    height: 75%;
    width: 210px;
    margin-right: 15px;
}
.trending-posts-main-outstandingPosts-link{
    text-decoration: none;
    height: 100%;
}
.trending-posts-main-outstandingPosts-link:hover .trending-posts-main-outstandingPosts-article-text{
    color: #1affff;
}
.trending-posts-main-outstandingPosts-frame{
    height: 130px;
}
.trending-posts-main-outstandingPosts-img{
    width: 210px;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.trending-posts-main-outstandingPosts-article{
    background-color: #151D28;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 120px;
    overflow: hidden;
}
.trending-posts-main-outstandingPosts-article-text{
    color: #AAA;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    width: 95%;
    height: 70%;
    padding-top: 6px;
    margin: auto;
}
.trending-posts-main-outstandingPosts-user{
    display: flex;
    width: 95%;
    margin: auto;
}
.trending-posts-main-outstandingPosts-user-name{
    color: #00bad7;
    font-weight: 700;
    font-size: 1.2rem;
  
}
.trending-posts-main-outstandingPosts-time::after{
    content: 'xem';
    padding-left: 5px;
}
.trending-posts-main-outstandingPosts-time{
    color: #AAA;
    font-size: 1.2rem;
}
.trending-posts-main-outstandingPosts-btn-left{
    position: absolute;
    top: 47%;
    left: 0%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    transform: rotate(180deg);
    cursor: pointer;
}
.trending-posts-main-outstandingPosts-btn-right{
    position: absolute;
    top: 47%;
    right: 0%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.arrowFade{
    opacity: 0.3;
    transition: all 0.11s;
}
.trending-posts-main-outstandingPosts-btn-left:hover .arrowFade,
.trending-posts-main-outstandingPosts-btn-right:hover .arrowFade{
    opacity: 0.753;
}
/* host posts */
.hot-posts-container{
    margin-top: 25px;
}
.hot-posts-body-content{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.hot-posts-title{
    margin: 0 0 15px 0;
}
.hot-posts-title-text{
    margin: 0;
    font-size: 1.8rem;
    color: #151D28;
}
.hot-posts-body-content-col-1{
    height: 100%;
    width: 408px;
    position: relative;
}
.hot-posts-body-content-col-1-frame{
    height: 210px;
}
.hot-posts-body-content-col-1-frame-link{
    text-decoration: none;
    display: inline-block;
    height: 210px;
}
.hot-posts-body-content-col-1-img{
    width: 408px;
    height: 210px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.hot-posts-body-content-col-1-article{
    background-color: #192433;
    height: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.hot-posts-body-content-col-1-article-wrap{
    padding: 50px 17px 0 17px;
}
.hot-posts-body-content-col-1-article.bg-window{
    background-color: #1A1A1A;
}
.hot-posts-body-content-col-1-article-item{
   
    border-bottom: 1px solid #2a3a50;
}
.hot-posts-body-content-col-1-post-link:hover .col-1-post-wrap{
    color: #1affff;
}
.hot-posts-body-content-col-1-post-link{
    text-decoration: none;
    width: 100%;
}
.col-1-post-wrap{
    color: 	#AAA;
    font-size: 1.3rem;
    /* line-height: 2.0rem; */
    margin: 0;
    padding: 13px 0;
}
.col-1-post-comt{
    color: 	#36a11b;
}
.comment-svg{
    display: inline-block;
    vertical-align: middle;
}
.col-1-post-wrap.col-first-posts{
    color: 	#e6e6e6;
    font-weight: 700;
}
.hot-posts-body-content-col-1-btn{
    position: absolute;
    top: 33%;
    left: 4.5%;
}
.hot-posts-body-content-col-1-btn:hover .col-1-btn-link{
    color: #1affff;
}
.col-1-btn-link{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 50px;
    color: #FFF;
    background-color: #2D4E7B;
}
.col-1-btn-link.window-btn{
    background-color: #2F655A;
}